.backdrop {
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
}

.backdrop .modal-box {
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    background: white;
    border: 1px solid #03045E;
}

.modal-box p {
    font-size: larger;
    font-weight: bold;
}

.dialog-button-container {
    display: flex;
    justify-content: space-between;
}

.dialog-button {
    background-color: #03045E;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
}