.question-item {
    padding: 5px;
    text-align: left;
    align-self: center;
    width: 100%;
    max-width: 100%;
}

.question-number {
    vertical-align: middle;
    height: 100%;
    font-weight: bolder;
}

.question {
    font-size: larger;
    text-align: left;
}

.question-row {
    padding-bottom: 10px;
}

.answer {
    font-size: medium;
    accent-color: black;
}

.correct-test-item {
    border: 2px solid green;
    background-color: seagreen;
}

.incorrect-test-item {
    border: 2px solid red;
    background-color: indianred;
}