.test-item-card {
    border-bottom: 1px solid #03045E;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;   
    display: flex;
    justify-content: space-between;
}

.test-card-title {
    font-weight: bold;
    justify-self: center;
}

.test-card-button  {
    border: none;
    color: white;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
    font-size: small;
}

.test-card-take-button {
    background-color: #045e03;
    margin-right: 5px;
}

.test-card-take-button:hover {
    background-color: #07a205;
}

.test-card-delete-button {
    background-color: #bd0000;
}

.test-card-delete-button:hover {
    background-color: #f30505;
}

