.test-item-card {
    border-bottom: 1px solid #03045E;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;   
    display: flex;
    justify-content: space-between;
}

.test-card-title {
    font-weight: bold;
    justify-self: center;
}

.test-card-button  {
    background-color: #045e03;
    border: none;
    color: white;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 10px;
    font-size: small;

}

.test-card-button:hover {
    background-color: #07a205;
}